:root {
    /* Colors */
    --primary-Soft--orange: hsl(35, 77%, 62%);
    --primary-Soft--red: hsl(5, 85%, 63%);

    --neutral-Off-white: hsl(36, 100%, 99%);
    --neutral-Grayish-blue: hsl(233, 8%, 79%);
    --neutral-Dark-grayish-blue: hsl(236, 13%, 42%);
    --neutral-Very-dark-blue: hsl(240, 100%, 5%);

    /* Fonts */
    --ff-primary: 'Inter', sans-serif;
    --fs-body: .9375rem;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extrabold: 800;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
    color: var(--neutral-Dark-grayish-blue);
    background-color: var(--neutral-Off-white);

    position: relative;
}

img {
    display: block;
    max-width: 100%;
}

.flow-content > * + * {
    margin-top: var(--spacer, 1em);
}


/* Typography */

h2, h3 {
    font-weight: var(--fw-extrabold);
    line-height: 1.1;
    color: var(--neutral-Very-dark-blue);
}

nav a {
    color: var(--neutral-Very-dark-blue);
    text-decoration: none;
}

.featured-title {
    --spacer: .5em;
    font-size: 2.2rem;
}

.featured-read-more {
    font-size: 1rem;
    font-weight: var(--fw-bold);
    color: var(--neutral-Off-white);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.new-title {
    margin-bottom: 1em;
    font-size: 1.8rem;
    color: var(--primary-Soft--orange);
}

.news-title {
    color: var(--neutral-Off-white);
}

.news-body {
    color: var(--neutral-Grayish-blue);
}

.article-number {
    font-size: 2rem;
    font-weight: var(--fw-extrabold);
    line-height: 1;
    color:var(--neutral-Grayish-blue);
}



/* Layout */

.container {
    padding-inline: 1rem;
    max-width: 1000px;
    margin-inline: auto;
}

.grid {
    display: grid;
}

header {
    padding-block: 3rem 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 40px;
}

header nav {
    padding: 1.5rem;
    width: 65vw;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--neutral-Off-white);

    transform: translateX(100%);
    transition: transform 250ms;
    z-index: 2;
}

/* overlay */
.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    opacity: 0;
    transition: opacity .5s;
}

header nav ul {
    margin-top: 4rem;
    padding: 0;
    list-style: none;
}

header nav li {
    margin-top: 1em;
}

header nav a {
    color: var(--neutral-Dark-grayish-blue);
}

#menu-open {
    background: none;
    border: 0;
    cursor: pointer;
}

#menu-close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    border: 0;
    background: none;
    cursor: pointer;
}

.show-nav {
    transform: translateX(0);
}

.show-overlay {
    display: block;
    opacity: 1;
}

.featured-read-more {
    margin-top: 1.6rem;
    padding: 1em 3em;
    width: max-content;
    display: block;
    line-height: 1;
    background-color: var(--primary-Soft--red);
}

.news {
    --spacer: 4rem;
    padding: 1.5em;
    background-color: var(--neutral-Very-dark-blue);
}

.news-entry:not(:last-child) {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid var(--neutral-Dark-grayish-blue);
}

.news-title {
    margin-bottom: .8em;
}

.article-cards {
    margin-block: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2.3em;
}

.card-body {
    --spacer: .5em;
}

.article-entry {
    display: flex;
    gap: 1.3em;
}

.article-title {
    font-size: 1rem;
}

.article-image {
    background-size: cover;
    background-position: center;
    min-width: 90px;
}

.article-image.img-1 {
    background-image: url(./assets/images/image-retro-pcs.jpg);
}

.article-image.img-2 {
    background-image: url(./assets/images/image-top-laptops.jpg);
}

.article-image.img-3 {
    background-image: url(./assets/images/image-gaming-growth.jpg);
}


/* Media queries */

@media (min-width: 550px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        column-gap: .6em;
    }

    .news {
        margin-top: 0;
    }

    .article-cards {
        grid-column: 1 / -1;
    }

    header nav {
        width: 45vw;
    }
}

@media (min-width: 670px) {
    .overlay {
        display: none;
    }

    #menu-open {
        display: none;
    }

    #menu-close {
        display: none;
    }

    header nav {
        margin: 0;
        padding: 0;
        width: initial;
        position: static;
        transform: translateX(0);
    }

    header nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }

    header nav ul li {
        margin: 0;
    }

    header nav ul li:not(:last-child) {
        margin-right: 2em;
    }

    header nav a {
        font-size: 1rem;
    }
}

@media (min-width: 780px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .article-featured > * {
        --spacer: 0;
    }

    .article-featured {
        grid-column: 1 / 3;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 270px 180px;
        row-gap: 1em;
    }

    .featured-img {
        width: 100%;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .featured-img img {
        height: 100%;
        object-fit: cover;
    }

    .featured-body {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .featured-title {
        font-size: 3rem;
        grid-row: 2 / 3;
    }

    .news {
        grid-column: 3 / -1;
        grid-row: 1 / -1;
    }
}